.order_box{
    width: 100%;
    padding:0 50px;
    line-height: 40px;
}

.order_title{
    margin-bottom: 10px;
}


.review_btn,.clear_btn{
    padding: 16px 40px;
    margin:20px 10px 0;
    color: #fff;
    background: transparent;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.clear_btn{
    border:1px solid crimson;
}

.clear_btn:hover{
    background-color: crimson;
}
.review_btn{
    border:2px solid gold;
}
.review_btn:hover{
    background-color: gold;
}